*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 120%;
}
body{
    background: hsl(222, 26%, 31%);
    font-family: "Spartan", sans-serif;
}
.calc{
    display: flex;
    flex-direction: column;
    margin: 10vh auto 0 auto;
    max-width: 20rem;
    background: hsl(222, 26%, 31%);
}
.screen{
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    max-width: 20rem;
    background: hsl(224, 36%, 15%);
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 1rem;
    color: white;
    
}
.header{
    background: hsl(222, 26%, 31%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-weight: bold;
    color: white;
}
.buttons{
    background: hsl(223, 31%, 20%);
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem;
    text-align: center;
    border-radius: 5px;
}
.buttons span{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(30, 25%, 89%);
    width: 3rem;
    height: 2.5rem;
    text-align: center;
    flex-grow: 1;
    margin: 0.5rem 0.5rem;
    user-select: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4rem;
    box-shadow: 0 2.5px hsl(28, 16%, 65%);
    color: hsl(221, 14%, 31%);
}
span{
    display: block;
}

.buttons .delReset{
    color: white;
    background: hsl(225, 21%, 49%);
    font-weight: bold;
    text-align: center; 
    box-shadow: 0 2.5px hsl(224, 28%, 35%);
    font-size: 0.9rem;
}
.delReset span, .delReset span{
    font-size: 0.7rem;
}
.buttons .equal{
    color: white;
    background: hsl(6, 63%, 50%);
    box-shadow: 0 2.5px hsl(6, 70%, 34%);
    font-size: 0.7rem;
}
#toggleContainer{
background: hsl(223, 31%, 20%);
border-radius: 10px;
display: flex;
justify-content: left;
padding: 0.2rem 0.2rem;
width: 3rem;
}
.toggle{
    background:#DB3D2B;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 8px;
}
.buttonContainer{
    display: flex;
    flex-direction: column;
}
#textContainer{
    display: flex;
    justify-content: flex-end;
    height: 1rem;
}
.text{
    font-size: 0.5rem;
    display: inline-block;
    padding:0 0.3rem; 
    padding-bottom: 2rem;
    position: relative;
    top: 0rem;
}

#theme{
    font-size: 0.4rem;
    margin-right: 0.9rem;
    letter-spacing: 1px;
}
#calc{
    font-size: 1.2rem;
}
.righttiny{
    display: flex;
    align-items: center;
}

.horizMoveLeft{
    transform: translateX(0rem);
    transition: 0.1s linear;
}
.horizMoveCenter{
    transform: translateX(0.9rem); 
    transition: 0.1s linear;
}
.horizMoveRight{
    transform: translateX(2rem); 
    transition: 0.1s linear;
}
#calcval{
    font-size: 2.5rem;
}

@media screen and (max-width: 700px){
    html{
        font-size: 110%;
    }
    .calc{
        margin: 0 auto 0 auto;
    }
    .header{
        height: 15vh;
    }
    #calc{
        font-size: 2rem;
    }
    #theme{
        font-size: 0.7rem;
    }
    #toggleContainer{
        padding: 0.3rem 0.3rem;
        width: 3.5rem;
        }
    .text{
            font-size: 0.8rem;
        }
    .screen{
        margin-bottom: 1.5rem;
        height: 5.5rem;
    }
    .buttons{
        padding: 1rem 1rem;
    }
    .buttons span{
        width: 3.5rem;
        height: 3.5rem;
        text-align: center;
        flex-grow: 1;
        margin: 0.5rem 0.5rem;
        user-select: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.7rem;
        box-shadow: 0 2.5px hsl(35, 11%, 61%);
    }
    .delReset span{
        font-size: 1rem;
    }
    .buttons .equal{
        font-size: 1rem;
    }
    .horizMoveCenter{
        transform: translateX(1rem); 
        transition: 0.1s linear;
    }
}
